.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .logo {
    width: 245px;
    object-fit: cover;
    margin: 0 0 40px 0;
  }
  .loginTxt {
    font-size: 25pt;
    color: #57b0bc;
    margin-bottom: 60px;
  }
  .formDiv {
    margin-bottom: 23px;
    display: grid;
    grid-template-columns: 200px 550px;
    //grid-template-columns: 150px 750px;

    .formTag {
      display: flex;
      padding-top: 9.5px;
      justify-content: flex-end;
      padding-right: 5rem;
    }
    .idTxt {
      font-size: 22pt;
    }
    .idBox {
      border: 2px solid #57b0bc;
      width: 327px;
      height: 47px;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;
      font-size: 18pt;
      color: #939598;
    }
    .passwordTxt {
      font-size: 22pt;
    }
    .passwordBox {
      border: 2px solid #57b0bc;
      width: 327px;
      height: 47px;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;
      font-size: 18pt;
      color: #939598;
    }
  }
}
