.my-classes-page {
  width: 100%;
  .my-classes {
    padding: 0 260px;
  }
  .date-of-lists {
    font-size: 29px;
    padding-left: 10px;
    color: #57b0bc;
  }
  .my-class {
    border: 1px solid #57b0bc;
    border-radius: 15px;
  }
}
