.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .error-message-name {
    position: absolute;
    left: 560px;
    top: 250px;
    color: red;
    font-size: 12pt;
  }
  .error-message-birth {
    position: absolute;
    left: 560px;
    top: 350px;
    color: red;
    font-size: 12pt;
  }

  .logo {
    width: 245px;
    // height: 74px;
    object-fit: cover;
    margin: 52px 0;
  }

  .formDiv {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 300px 800px;
    .formTag {
      font-size: 22pt;
      display: flex;
      padding-top: 9.5px;
      justify-content: flex-end;
      padding-right: 48px;
    }

    .nameBox {
      font-size: 22pt;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;

      width: 332px;
      height: 40px;
    }

    .dateForm {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      // width: 647px;
    }

    .categoryForm {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 647px;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .dateBox {
    font-size: 22pt;
    text-align: right;
    border: 2px solid #57b0bc;
    border-radius: 15px;
    padding: 0.5rem 1.2rem;

    width: 154px;
    height: 40px;
    margin-right: 10px;
  }

  .introWrapper {
    position: relative;

    .introBox {
      font-size: 22pt;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 12px 1.2rem;

      width: 605px;
      height: 200px;
    }
    .lengthCount {
      position: absolute;
      top: 235px;
      right: 165px;
      font-size: 17pt;
      color: #57b0bc;
    }
  }
}
