.main-page {
  width: 1150px;
}

.main-message {
  margin: 0;
  font-size: 40px;
}

.sub-message {
  margin: 0.5rem 0 1rem;
  color: #939598;
}

.new-classes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
