.class-chatroom {
  background-color: #dcf9f3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  // justify-content: center;
  .chat-box {
    width: 850px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 5px 15px 0px #989898;
    .chatroom-title {
      border-radius: 15px 15px 0 0;
      color: white;
      background-color: #57b0bc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem 0.5rem 2rem;
      > span {
        font-size: 40px;
      }
    }
    .connection-message {
      margin: 0.5rem auto;
      width: 500px;
      height: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dcf9f3;
      color: #57b0bc;
      font-size: 27px;
      border-radius: 15px;
    }
    .chat-contents {
      height: 60%;
      .right {
        display: flex;
        justify-content: flex-end;
      }
      .left {
        display: flex;
        justify-content: flex-start;
      }
    }
    .input-box {
      position: relative;
      display: flex;
      justify-content: center;
      .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 765px;
      }
      .message-input {
        padding: 0;
        padding-left: 2rem;
        width: 100%;
        height: 100%;
        height: 50px;
        border: 2px solid #57b0bc;
      }
      .send-button {
        position: absolute;
        right: 44px;
      }
    }
  }
}
