.class-chatroom {
  background-color: #dcf9f3;
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .chat-box {
    width: 850px;
    height: 750px;
    margin: 60px 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 5px 15px 0px #989898;
    .chatroom-title {
      border-radius: 15px 15px 0 0;
      color: white;
      background-color: #57b0bc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem 0.5rem 2rem;
      height: 54px;
      > span {
        font-size: 40px;
      }
    }
    .connection-message {
      margin: 1rem auto;
      width: 500px;
      height: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dcf9f3;
      color: #57b0bc;
      font-size: 27px;
      border-radius: 15px;
    }
    .chat-contents {
      height: 65%;
      padding: 0.5rem 3rem;
      .user-chat {
        display: flex;
        flex-direction: column;
        .same-user-chat {
          display: flex;
          justify-content: flex-end;
        }
      }
      .profile-image {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
      > .right {
        align-items: flex-end;
      }
      > .left {
        align-items: flex-start;
      }
      .message-user {
        padding: 0 1rem;
        font-size: 29px;
      }
      .message-content-right {
        font-size: 27px;
        height: 60px;
        background-color: rgb(232, 232, 232);
        // background-color: #dcf9f3;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        bottom: 0.7rem;
        right: 4rem;
        margin-bottom: 16px;
      }
      .message-content-left {
        font-size: 27px;
        height: 60px;
        background-color: rgb(232, 232, 232);
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        bottom: 0.7rem;
        left: 4rem;
        margin-bottom: 16px;
      }
    }
    .input-box {
      position: relative;
      display: flex;
      justify-content: center;
      .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 765px;
      }
      .message-input {
        padding: 0;
        padding-left: 2rem;
        width: 100%;
        height: 60px;
        border: 2px solid #57b0bc;
        border-radius: 15px;
        font-size: 29px;
      }
      .send-button {
        position: absolute;
        right: 44px;
      }
    }
  }
}

.confirm-container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .confirm-component {
    width: 800px;
    height: 350px;
    box-sizing: border-box;
    background-color: #dcf9f3;
    border: 18px solid #dcf9f3;
    border-radius: 20px;
    box-shadow: 2px 5px 15px 0px #989898;
    .message-box {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .main-message {
        font-size: 47px;
        margin-bottom: 12px;
      }
      .sub-message {
        font-size: 29px;
        margin-bottom: 28px;
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }
}
