.request-class {
  // background-color: plum;
  width: calc(100% - 600px);
  padding: 50px 300px 0 300px;
  margin-bottom: 40px;
}

.request-class-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-solo-div {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 150px 750px;
}

.form-tag {
  font-size: 29px;
  display: flex;
  // padding-top: 9.5px;
  justify-content: flex-end;
  padding-right: 5rem;
}
.form-tag-text {
  align-items: center;
}
.form-tag-textarea {
  padding-top: 9.5px;
}

.form-input {
  font-size: 29px;
  border: 2px solid #57b0bc;
  border-radius: 15px;
  padding: 0.5rem 1.2rem;
}

.form-input-description {
  height: 200px;
}
