.container {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;

  .section1 {
    padding: 40px 0 0 40px;
  }

  .section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .classBox {
      background-color: #dcf9f3;
      // width: 580px;
      // height: 640px;
      width: 640px;
      height: 700px;
      border-radius: 15px;
      box-shadow: 2px 5px 15px 0px #989898;

      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 35px 0 35px 0;

      .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 0 18px;
        .topLeft {
          .profile {
            background-color: white;
            width: 70px;
            height: 70px;
            border-radius: 35px;
          }
        }
        .topRight {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 18px;
          .userName {
            font-size: 20pt;
          }
          .tutorEvaluate {
            display: flex;
            flex-direction: row;
            .tutorReview {
              font-size: 18pt;
            }
            .tutorScore {
              font-size: 18pt;
              margin-left: 8px;
            }
          }
        }
      }
      .class {
        display: flex;
        flex-direction: column;
        align-items: center;
        .classImage {
          width: 230px;
          height: 230px;
          border-radius: 15px;
          margin: 10px 0 18px 0;
        }

        .classInfo {
          background-color: white;
          // width: 505px;
          // height: 240px;
          width: 570px;
          height: 250px;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          margin: 0 0 20px 0;
          .category {
            margin: 15px 0 6px 15px;
          }
          .classTitle {
            margin: 0.5rem 1rem 0.3rem;
          }
          .classInformation {
            margin: 0 6px 0 15px;
            line-height: 35px;
          }
        }
        .scrollable {
          overflow-y: auto; /* 세로 스크롤 적용 */
          //max-height: 200px; /* 스크롤이 보여지는 최대 높이 설정 */
          //max-height: 250px;
          flex-grow: 1;
        }
      }
    }
  }
}
