.navigation-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-contents {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-link {
  margin-right: 4rem;
  text-decoration: none;
  color: black;
}

.main-logo {
  height: 50px;
  object-fit: cover;
  margin-right: 4rem;
}

.input-wrapper {
  position: relative;
  // display: inline-block;
  margin-right: 1rem;
  .input-search {
    /* padding-right: 40px; */
    padding-left: 1.5rem;
    padding-right: 50px;
    width: calc(400px - 74px);
    height: 50px;
    border: 2px solid #57b0bc;

    color: #939598;
    border-radius: 15px;
  }
  .search-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 5px;
    margin-right: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    .search-icon {
      width: 35px;
      height: 35px;
    }
  }
}

.alert-button {
  padding: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}
.alert-icon {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
}

.alert-container {
  position: absolute;
  z-index: 2;
  top: 80px;
  right: 99px;
  width: 400px;
  height: 200px;
  background: url('../../assets/images/alert-speech.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .alert-message-box {
    padding-top: 2rem;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .alert-message {
      // width: 300px;
      // background-color: red;
    }
  }
}
