.search-result-page {
  width: 1150px;
  padding-top: 50px;
}

.main-message {
  margin-bottom: 25px;
  font-size: 40px;
}

.sub-message {
  margin: 0.5rem 0 1rem;
  color: #939598;
}

.new-classes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.no-result {
  color: #939598;
}
