.request-class-page {
  width: 100%;
}

.request-class {
  // background-color: plum;
  width: calc(100% - 600px);
  // height: 100%;
  padding: 50px 300px 0 300px;
  // margin-bottom: 20px;
}

.request-class-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-solo-div {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 200px 750px;
  // margin: 20px 0;

  .categoryForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-tag {
  display: flex;
  // padding-top: 9.5px;
  justify-content: flex-end;
  // width: 60%;
  margin-right: 4rem;
}
.form-tag-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.form-tag-textarea {
  padding-top: 9.5px;
  // margin: 20px 0;
}

input {
  margin: 0;
}
.form-input-text {
  border: 2px solid #57b0bc;
  border-radius: 15px;
  padding: 0.5rem 1.2rem;
  height: 40px;
}

.form-input-textarea {
  border: 2px solid #57b0bc;
  border-radius: 15px;
  padding: 12px 1.2rem;
  // margin: 20px 0;
}

.form-input-description {
  height: 200px;
}
.form-tag-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .class-img {
    background: none;
    width: 150px;
    height: 150px;
    padding: 0;
    cursor: pointer;
    // border: 5px solid transparent;
    // > img {
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 15px;
    // }
  }
  .class-img-1 {
    background-image: url('../../assets/images/class-image-1.png');
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .class-img-2 {
    background-image: url('../../assets/images/class-image-2.png');
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .class-img-3 {
    background-image: url('../../assets/images/class-image-3.png');
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .selected {
    box-sizing: border-box;
    background-color: #57b0bc;
    border: 5px solid #57b0bc;
    border-radius: 15px;
    // transition:
    //   border-color 0.3s ease-in-out,
    //   background-color 0.5s ease-in-out;
  }
  .img-upload-button {
    box-sizing: border-box;
    border: 2px solid #57b0bc;
    color: #57b0bc;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
  }
  .hidden-input {
    display: none;
  }
  .image-uploaded {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-sizing: border-box;
    border: 2px solid #57b0bc;
    border-radius: 15px;
  }
  .recent-upload {
    border: 5px solid #57b0bc;
  }
}
