.request-class {
  // background-color: plum;
  width: calc(100% - 600px);
  // height: 100%;
  padding: 50px 300px 0 300px;
  // margin-bottom: 20px;
}

.request-class-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-solo-div {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 150px 750px;
  // margin: 20px 0;

  .categoryForm {
    display: flex;
    flex-direction: row;
  }
}

.form-tag {
  display: flex;
  // padding-top: 9.5px;
  justify-content: flex-end;
  padding-right: 5rem;
}
.form-tag-text {
  align-items: center;
}
.form-tag-textarea {
  padding-top: 9.5px;
  // margin: 20px 0;
}

input {
  margin: 0;
}
.form-input-text {
  border: 2px solid #57b0bc;
  border-radius: 15px;
  padding: 0.5rem 1.2rem;
  height: 40px;
}

.form-input-textarea {
  border: 2px solid #57b0bc;
  border-radius: 15px;
  padding: 0.5rem 1.2rem;
  // margin: 20px 0;
}

.form-input-description {
  height: 200px;
}
