.senior-page {
  .font-55pt {
    font-size: 55pt;
  }
  .font-35pt {
    font-size: 35pt;
  }
  .font-25pt {
    font-size: 25pt;
  }
  .font-22pt {
    font-size: 22pt;
  }
  .senior-color {
    color: #ffc431;
  }
}

.youth-page {
  .font-40pt {
    font-size: 40pt;
  }
  .font-25pt {
    font-size: 25pt;
  }
  .font-22pt {
    font-size: 22pt;
  }
  .font-18pt {
    font-size: 18pt;
  }
  .junior-color {
    color: 7ac2e2;
  }
}
