.senior-page {
  .font-55pt {
    font-size: 55pt;
  }
  .font-35pt {
    font-size: 35pt;
  }
  .font-33pt {
    font-size: 33pt;
  }
  .font-30pt {
    font-size: 30pt;
  }
  .font-28pt {
    font-size: 28pt;
  }
  .font-25pt {
    font-size: 25pt;
  }
  .font-22pt {
    font-size: 22pt;
  }
  .font-20pt {
    font-size: 20pt;
  }
  .font-18pt {
    font-size: 18pt;
  }
  .font-15pt {
    font-size: 15pt;
  }
  .senior-color {
    color: #ffc431;
  }
}

.youth-page {
  .font-40pt {
    font-size: 40pt;
  }
  .font-28pt {
    font-size: 28pt;
  }
  .font-25pt {
    font-size: 25pt;
  }
  .font-22pt {
    font-size: 22pt;
  }
  .font-20pt {
    font-size: 20pt;
  }
  .font-18pt {
    font-size: 18pt;
  }
  .youth-color {
    color: #7ac2e2;
  }
}
