body {
  margin: 0;
  font-family: 'YD윤고딕320';
  src: url('./assets/fonts/YD윤고딕320.ttf');
  font-weight: 400;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw; */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-light {
  font-family: 'YD윤고딕320';
  src: url('./assets/fonts/YD윤고딕320.ttf');
  font-weight: 400;
}
.font-bold {
  font-family: 'YD윤고딕340';
  src: url('./assets/fonts/YD윤고딕340.ttf');
  font-weight: 700;
}

#root {
  /* width: 100%; */
  height: 100%;
}
.App {
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-bar-hr {
  border: none;
  background-color: #57b0bc;
  position: absolute;
  top: 99px;
  width: 98%;
  height: 2px;
  margin: 0;
}
