p {
  margin: 0;
}

::placeholder {
  color: #939598;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px 0 0 0;
    //position: relative;
  }
  .profileEdit {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d1d3d4;

    position: relative;
    bottom: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .editImage {
      width: 40px;
      height: 40px;
    }
  }

  .formSection {
    width: 100%;
    display: flex;
    flex-direction: column;

    .formDiv {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: 300px 900px;
    }

    .formTag {
      font-size: 22pt;
      display: flex;
      padding-top: 9.5px;
      justify-content: flex-end;
      padding-right: 5rem;
    }

    .nameBox {
      font-size: 22pt;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;

      width: 750px;
      height: 40px;
    }

    .dateForm {
      display: flex;
      flex-direction: row;
    }

    .dateBox {
      font-size: 22pt;
      text-align: right;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;

      width: 155px;
      height: 40px;
      margin-right: 10px;
    }

    .introBox {
      font-size: 22pt;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 12px 1.2rem;

      width: 750px;
      height: 150px;
    }
  }

  .buttonSection {
    display: flex;
    flex-direction: row;
  }
}
