p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffc431;
    margin: 30px 0 50px 0;
    position: relative;
  }
  .profileEdit {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d1d3d4;

    position: relative;
    bottom: 110px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .editImage {
      width: 40px;
      height: 40px;
    }
  }
  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .formDiv {
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: 150px 750px;
    }

    .formTag {
      font-size: 29px;
      display: flex;
      padding-top: 9.5px;
      justify-content: flex-end;
      padding-right: 5rem;
    }

    .nameBox {
      font-size: 29px;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;
    }

    .dateBox {
      font-size: 29px;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;
    }

    .introBox {
      font-size: 29px;
      border: 2px solid #57b0bc;
      border-radius: 15px;
      padding: 0.5rem 1.2rem;
    }

    .formInputDescription {
      height: 200px;
    }
  }
}
